.cursor-has {
    cursor: pointer;
}

.middle-wrap {
    width: 1200px;
    margin: 0 auto;
}
.htmlContent img{
    max-width: 100%!important;
}
.htmlContent p{
    max-width: 100%!important;
}
.site {
    margin-top: 12px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
}
.container{
    width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
